.navbar li a:hover {
	background-color: #2C2C2C;
	color: #FF0044;
}
.navbar li a {
	color: white;
	font-size: 1.3em;
}
.navbar {
	padding-top: 5vh;
	padding-bottom: 5vh;
	margin-bottom: 0px;
	background-color: #161616;
}

.navbar .name{
	font-size: 4em;
}

.navbar .occupation{
	font-size: 1.5em;
}

.navbar .links {
	padding: 30px 0;
}
.jumbotron {
	padding-left: 10vw;
	padding-right: 10vw;
	background-color: #313131;
}
.jumbotron h1 {
	padding-bottom: 5vh;
	color: white;
	font-size: 2.8em;
}
.jumbotron p {
	color: white;
	margin-bottom: 5vh;
}
.about-me {
	padding-left: 0px;
}
.about-me .col-sm-3 {
	padding-left: 0px;
}
.profile-pic {
	padding-left: 0px;
}
.call-to-action {
	background-color: #FF0044;
	border: none;
	margin-top: 5vh;
}
.call-to-action:hover {
	background-color: #FF0044;
}
.projects {
	padding-left: 15vw;
	padding-right: 15vw;
	margin-bottom: 10vh;
}
.project-image {
	margin-top: 4vh;
	padding-left: 0px;
	border: solid;
}
a {
	color: #333;
}
.gh-link {
	color: #333;
}
.technology {
	border-radius: 2px;
	font-size: 15px;
	margin: 5px;
	padding: 1px;
	background-color: #FF0044;
	color: white;
}

#return-top {
	text-align: center;
	font-weight: bold;
}
#top {
	color: #fff;
}
.navbar-inverse .navbar-brand {
	color: white;
}

/*for mobile when it's 500px or smaller*/
@media (max-width: 500px) {
	.navbar-inverse .navbar-brand {
		color: white;
	}
	.nav-pills>li {
		float: none;
	}
	.navbar .links {
		padding: 0;
	}
}